node_modules
data/test/*
data/train/*
!data/test/.keep
!data/train/.keep
data/scraping/google/*
data/scraping/instagram/*
data/scraping/twitter/*
!data/scraping/google/.keep
!data/scraping/instagram/.keep
!data/scraping/twitter/.keep
